<mat-toolbar class="driver">
  <a routerLink="">
    shuttle
  </a>
  <button mat-icon-button class="divider">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>history</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>map</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>chat</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

  <mat-slide-toggle><span id="slider-text">Active</span></mat-slide-toggle>
  <button mat-flat-button class="button" id="sign-out">Sign out</button>

</mat-toolbar>
