<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<mat-toolbar class="driver">
    <a routerLink="driver/home">
        shuttle
    </a>
    <div id="buttons">
        <button mat-icon-button (click)="home()">
            <mat-icon matBadge="1" matBadgeColor="warn" [matBadgeHidden]="!shouldShowRideBadge()">home</mat-icon>
        </button>
        <button mat-icon-button (click)="history()">
            <mat-icon>history</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>map</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>chat</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button (click)="info()">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="graph()">
            <span class="material-symbols-outlined">monitoring</span>
        </button>
        
        <form class="isActiveForm" [formGroup]="formGroupIsActive">
            <mat-slide-toggle formControlName="isActive" (change)="onToggleIsActive()"><span>Active</span></mat-slide-toggle>
        </form>

        <button mat-flat-button class="button" id="sign-out" (click)="logout()">Sign out</button>
    </div>
</mat-toolbar>
