<div class="row">
    <div class="column left">
        <table mat-table [dataSource]='dataSource' class="mat-elevation-z3">
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>
            <ng-container matColumnDef="route">
                <th mat-header-cell *matHeaderCellDef>Route</th>
                <td mat-cell *matCellDef="let element"> {{ getFieldRoute(element) }} </td>
            </ng-container>
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef>Start</th>
                <td mat-cell *matCellDef="let element"> {{ element.startTime | date }} </td>
            </ng-container>
            <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef>End</th>
                <td mat-cell *matCellDef="let element"> {{ element.endTime | date }} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr 
                (click)="selectRow(row)"
                [class.row-selected]="isSelected(row)"
                mat-row 
                *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </div>
    <div class="column right">
        <div id="map" class="mat-elevation-z3" #leafletMap></div>
    </div>
</div>