<div class="row">
    <div class="column left">
        <ng-container *ngIf="!hasRides()">
            <div class="grey-centered-text">
                You have no rides!
            </div>
        </ng-container>
        <ng-container *ngIf="hasRides()">
            <table mat-table [dataSource]='dataSource' class="mat-elevation-z3">
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                </ng-container>
                <ng-container matColumnDef="route">
                    <th mat-header-cell *matHeaderCellDef>Route</th>
                    <td mat-cell *matCellDef="let element"> {{ getFieldRoute(element) }} </td>
                </ng-container>
                <ng-container matColumnDef="startTime">
                    <th mat-header-cell *matHeaderCellDef>Start</th>
                    <td mat-cell *matCellDef="let element"> {{ element.startTime | date:'medium' }} </td>
                </ng-container>
                <ng-container matColumnDef="endTime">
                    <th mat-header-cell *matHeaderCellDef>End</th>
                    <td mat-cell *matCellDef="let element"> {{ element.endTime | date:'medium' }} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr 
                    (click)="onRideSelected(row)"
                    [class.row-selected]="isSelected(row)"
                    mat-row 
                    *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator 
                (page)="onPageChange($event)"
                [pageSizeOptions]="[1, 5, 10, 20]"
                [pageSize]="3"
                [length]="ridesTotal"
                [pageIndex]="page"
                showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </ng-container>
    </div>
    <div class="column right">
        <div class="height-70">
            <div id="map" class="mat-elevation-z3" #leafletMap></div>
        </div>
        <div class="height-30 flex">

            <div class="left pad mat-elevation-z3 flex-hor margin">
                <div class="text-regular"><span class=text-thin>Driver: </span>{{ getSelectedRideDriverName() }}</div>
                <div class="text-regular"><span class=text-thin>Status: </span>{{ getSelectedRideStatus() }}</div>
                <hr/>
                <span *ngIf="tooLateToRateRide()">
                    You cannot rate this ride.
                </span>
                <span *ngIf="!tooLateToRateRide()">
                    <div class="text-regular text-thin">Vehicle rating:</div>
                    <div class="text-regular text-thin">Driver rating:</div>
                    <br/>
                    <span *ngIf="isRideRated()">
                        <button mat-raised-button color="primary" (click)="viewRating()">View your rating</button>
                    </span>
                    <span *ngIf="canRateRide()">
                        <button mat-raised-button color="primary" (click)="leaveRating()">Leave a rating</button>
                    </span>
                </span>
            </div>

            <div class="right pad mat-elevation-z3 flex-hor margin">
                <div class="text-regular"><span class=text-thin>From: </span>{{ getSelectedRideDeparture() }}</div>
                <div class="text-regular"><span class=text-thin>To: </span>{{ getSelectedRideDestination() }}</div>
                <div class="text-regular"><span class=text-thin>Vehicle type: </span>{{ getSelectedRideVehicleType() }}</div>

                <span class="text-regular text-thin">Baby: </span>
                <span *ngIf="getSelectedRideBaby(); else elseBlock"><mat-icon>check</mat-icon></span>
                <ng-template #elseBlock><mat-icon>close</mat-icon></ng-template>
                <br/>

                <span class="text-regular text-thin">Pet: </span>
                <span *ngIf="getSelectedRidePet(); else elseBlock"><mat-icon>check</mat-icon></span>
                <ng-template #elseBlock><mat-icon>close</mat-icon></ng-template>
                <br/>

                <hr/>
                <button class="align-right" mat-raised-button color="primary" (click)="orderAgain()">Order again</button>
            </div>

        </div>
    </div>
</div>