mat-toolbar {
    background-color: #2A9F91;
    color: white;
    width: 100%;
    text-align: left;
}


h1 {
    margin-top: 20px;
}

.button {
    outline-color: white;
    border-radius: 60px;
    width: 120px;
    height: auto;
    margin-left: 45px;
    text-align: center;
    outline-style: solid;
    outline-width: 3px;
    float: right;
}

#login {
    background-color: #2A9F91;
    color: white;
    margin-left: 80%;
}
#register {
    background-color: white;
    color: #2A9F91;
}