<div id="loginForm">
  <!-- https://material.angular.io/components/form-field/examples -->
  <mat-card>
    <form>
      <span id="ddd">
        <h2>Log In</h2>
        <hr/>
      </span>

      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput name="email" type="email" required  [(ngModel)]= "email" />
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput name="password" type="password" required [(ngModel)]= "password" />
      </mat-form-field>
      <br/>
      <button id="submitButton" mat-raised-button type="submit" color="primary" (click)="onLoginSubmit()">Log In</button>
      <br/>

      <!-- TODO: Route to registration -->
      <p>Don't have an account? <a href="#">Sign up</a></p>

      <br/>

      <!-- TODO: Add G and F icons and add API call -->
      <button mat-raised-button type="submit" color="primary">Sign in with Google</button>
      <br/>
      <button mat-raised-button type="submit" color="primary">Sign in with Facebook</button>

    </form>
</mat-card>

</div>
