 <div *ngIf="isRouteFound">
    <!-- Location list -->
    <span class="label">Locations</span>
    <ul>
        <li class="value" *ngFor="let address of getAddressList()">{{ address }}</li>
    </ul>

    <!-- Distance -->
    <div>
        <span class="label">Distance: </span>
        <span class="value">{{ getRouteDistanceStr() }}</span>
    </div>

    <hr/>

    <!-- Vehicle type. -->
    <div>
        <span class="label">Vehicle: </span>
        <span class="value">{{ ride.vehicleType }}</span>
    </div>

    <hr/>

    <!-- Pets and babies -->

    <div>
        <mat-checkbox class="value" [checked]="ride.babyTransport"[disabled]="true">Babies</mat-checkbox>
        <br/>    
        <mat-checkbox class="value" [checked]="ride.petTransport"[disabled]="true">Pets</mat-checkbox>
    </div>

    <hr/>

    <!-- Passenger list -->
    
    <div class="ride-passenger">
        <img src="">
        <mat-label class="value">{{myEmail}}</mat-label>
        <mat-label class="label"> (You)</mat-label>
    </div>
    <br/>

    <div *ngFor="let other of otherPassengers" class="ride-passenger">
        <img src="">
        <mat-label class="value">{{other.email}}</mat-label>
        <br/>
    </div>

    <!-- Driver -->

    <hr/>
    <div>
        <span class="label">Driver: </span>
        <span class="value">{{ getDriverEmail() }}</span>
    </div>

    <!-- Driver arrival time -->
    
    <ng-container *ngIf="isPending() && !isScheduledForFuture()">
        <hr/>
        <div>
            <span class="label">Time of arrival: </span>
            <span class="value">{{ timeUntilDriverArrives }}</span>
        </div>
    </ng-container>

    <!-- Only if scheduled in the future. -->

    <ng-container *ngIf="isScheduledForFuture()">
        <hr/>
        <div>
            <span class="label">Scheduled for: </span>
            <span class="value">{{ getRideScheduledTime() }}</span>    
        </div>
    </ng-container>

    <!-- Cancel before it begins -->

    <ng-container *ngIf="isPending()">
        <button mat-raised-button color="warn" (click)="cancelRide()">Cancel</button>
    </ng-container>

    <!-- Elapsed time, panic button, leaving a note etc. -->

    <ng-container *ngIf="isAccepted()">
        <hr/>
        <span id="elapsed-time">
            <span class="label">Elapsed time: </span>
            <span class="value">{{ elapsedTime }}</span>
        </span>
        <hr/>
        <button mat-raised-button color="warn" (click)="reportInconsistency()"><mat-icon>warning</mat-icon> Report Inconsistency</button>
        <hr/>
        <button mat-raised-button color="warn" (click)="openPanicDialog()"><mat-icon>warning</mat-icon> Panic</button>
    </ng-container>

</div>