<div class="container">
    <div class="register-dialog rounded-top rounded-bottom">
        <div id="legend" class="rounded-top">
            <h2>Sign up</h2>
        </div>
    
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" accept-charset="UTF-8" class=" rounded-bottom">
    
            <mat-form-field appearance="fill">
                <mat-label>Email: </mat-label>
                <input matInput type="email" formControlName="email" required/>
                <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Password: </mat-label>
                <input matInput type="password" formControlName="password" required 
                 title="Minimum 8 characters, at least one letter and one number"
                 pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
                 <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Confirm password: </mat-label>
                <input matInput type="password" formControlName="confirmPassword" required/>
                <mat-error *ngIf="isPasswordsMismatch()">{{getConfirmPasswordError()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Name: </mat-label>
                <input matInput type="text" formControlName="name" required/>
                <mat-error *ngIf="name.invalid">{{getNameError()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Surname: </mat-label>
                <input matInput type="text" formControlName="surname" required/>
                <mat-error *ngIf="surname.invalid">{{getSurnameError()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Location: </mat-label>
                <input matInput type="text" formControlName="address" required/>
                <mat-error *ngIf="address.invalid">{{getAddressError()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Phone: </mat-label>
                <input matInput type="text" formControlName="telephoneNumber" pattern="^[\+]?[0-9]+$" required/>
                <mat-error *ngIf="telephoneNumber.invalid">{{getPhoneError()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <div>
                  <mat-toolbar>
                    <input matInput [value]="selectedFileName ? selectedFileName : 'Select Image'" />
                  </mat-toolbar>
              
                  <input
                    type="file"
                    id="profilePicture"
                    name="profilePicture"
                    accept="image/*" multiple 
                    formControlName="profilePicture"
                    (change)="selectFile($event)"
                  />
                </div>
              </mat-form-field>
    
            <button mat-raised-button type="submit">Sign up</button>
        
        </form>
        
    </div>
</div>