#resetPassword, #resetPasswordExpired {
    display: flex;
}

#resetPassword>mat-card, #resetPasswordExpired>mat-card {
    padding: 48px 16px;
    display: inline-block;
    margin: auto;
    border-radius: 16px;
    width: 30%;
}

mat-form-field {
    width: 100%;
}

form h2 {
    font-size: 3em;
    text-transform: uppercase;
}

hr {
    margin-bottom: 4em;
}

form button, #resetPasswordExpired button {
    margin-bottom: 1em;
    width: 100%;
}

#submitButton {
    padding: 1.5em;
    font-size: larger;
}

#signInWithGoogle {
    background-color: #317CD8;
}

#signInWithFacebook {
    background-color: #3554C0;
}

.rightAlign {
    float: right;
}
