<!-- Keep the two <div> elements completely disjoint -->

<div id="resetPassword" *ngIf="!resetLinkExpired()">
    <mat-card>
        <form [formGroup]="formGroup" (ngSubmit)="updateNewPassword()">
            <h2>Reset Password</h2>
            <hr/>

            <mat-form-field appearance="outline">
                <mat-label>Enter new password</mat-label>
                <input matInput name="password" type="password" formControlName="password" />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Confirm new password</mat-label>
                <input matInput name="confirmPassword" type="password" formControlName="confirmPassword" />
            </mat-form-field>
            <br />
            <button id="submitButton" mat-raised-button type="submit" color="primary" [disabled]="!formGroup.valid">Submit</button>
        </form>
    </mat-card>
</div>

<!-- ^ Valid password reset link -->
<!-- v Invalid password reset link -->

<div id="resetPasswordExpired" *ngIf="resetLinkExpired()">
    <mat-card>
        <p>
            Link has expired.
        </p>
        <hr/>
        <button mat-raised-button color="primary" routerLink="/login">Back to login</button>
    </mat-card>

</div>
