<div class="flex">
    <span class="left">
        <button class="align-right" mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="addFavoriteRide()">
            <mat-icon *ngIf="rideIsFavorite()">favorite</mat-icon>
            <mat-icon *ngIf="!rideIsFavorite()">favorite_border</mat-icon>
        </button>
    </span>
    <span class="right">
        <span *ngIf="tooLateToRateRide()">
            You cannot rate this ride.
        </span>    
        <span *ngIf="!tooLateToRateRide()">
            <span *ngIf="isRideRated()">
                <button mat-raised-button color="primary" (click)="viewRating()">View your rating</button>
            </span>
            <span *ngIf="canRateRide()">
                <button mat-raised-button color="primary" (click)="leaveRating()">Leave a rating</button>
            </span>
        </span>
    </span>
</div>
<br/>
<div>
    <button class="align-right" mat-raised-button color="primary" (click)="orderAgain()">Order again</button>
</div>