<form [formGroup]="mainForm">

    <!-- Route data. -->

    <div formGroupName="route_form">
        <mat-form-field appearance="outline">
            <mat-label>Departure</mat-label>
            <input id="passenger-order-departure" matInput formControlName="departure" (blur)="recalculateRoute()" name="departure" />
        </mat-form-field>
        <span class="space"></span>   
         <mat-form-field appearance="outline">
            <mat-label>Destination</mat-label>
            <input id="passenger-order-destination" matInput formControlName="destination" (blur)="recalculateRoute()" name="destination" />
        </mat-form-field>
        <br/>      
        <button id="passenger-order-find-route" type="submit" color="primary" mat-raised-button (click)="recalculateRoute()" [disabled]="!isRouteFormValid()">Find Route</button>
        <mat-spinner id="passenger-order-route-spinner" *ngIf="isRouteRecalculating" [diameter]="35"></mat-spinner>
    </div>

    <!-- Details. -->

    <div *ngIf="isRouteFound && !isRouteRecalculating" formGroupName="route_options_form">
        <hr/>

        <!-- Distance -->

        <div>
            <span class="label">Distance: </span>
            <span class="value">{{ getRouteDistanceStr() }}</span>
        </div>

        <hr/>

        <!-- Vehicle type -->

        <mat-form-field appearance="outline">
            <mat-label>Vehicle</mat-label>
            <mat-select formControlName="vehicle_type">
                <mat-option *ngFor="let type of vehicleTypes" name="vehicle_type" [value]="type.name">{{type.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Babies and pets -->

        <div>
            <mat-checkbox formControlName="babies" class="value">Babies</mat-checkbox>
            <mat-checkbox formControlName="pets" class="value">Pets</mat-checkbox>
        </div>

        <hr/>

        <!-- Passenger list. -->

        <div class="ride-passenger">
            <img src="">
            <mat-label class="value">{{ getMyEmail() }}</mat-label>
            <mat-label class="label"> (You)</mat-label>
        </div>
        <br/>

        <div *ngFor="let other of otherPassengers" class="ride-passenger">
            <img src="">
            <mat-label class="value">{{other.email}}</mat-label>
            <span class="space"></span>
            <button mat-mini-fab (click)="onRemovePassenger(other.email)"><mat-icon>remove</mat-icon></button>
            <br/>
        </div>

        <br/>
        
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Invite passenger</mat-label>
                <input matInput name="passenger_email" type="text" formControlName="passenger_email" />
            </mat-form-field>
            <span class="space"></span>
            <button mat-mini-fab color="accent" (click)="onAddPassenger()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <!-- Price -->

        <div>
            <span class="label">Price: </span>
            <span class="value">{{ getRoutePrice() }}</span>
        </div>

        <hr/>

        <!-- Order later. -->

        <mat-checkbox formControlName="is_later" class="value">Schedule later</mat-checkbox>
        <ng-container *ngIf="isOrderingLater()">
        <div formGroupName="later">
            <mat-form-field appearance="fill" class="shortInput">
                <mat-label>Hour</mat-label>
                <mat-select formControlName="at_hour">
                    <mat-option *ngFor="let hour of allowedHours" value="{{hour}}">{{hour}}</mat-option>
                </mat-select>
            </mat-form-field>

            <span class="space"></span>

            <mat-form-field appearance="fill" class="shortInput">
                <mat-label>Minute</mat-label>
                <mat-select formControlName="at_minute">
                    <mat-option *ngFor="let hour of allowedMinutes" value="{{hour}}">{{hour}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
        </div>
        </ng-container>

        <hr/>

        <!-- Order -->

        <br/>
        <button type="submit" [disabled]="!canOrderRide()" color="primary" mat-raised-button (click)="orderRide()">Order</button>
    </div>
</form>