<table mat-table [dataSource]='userDataSource' class="mat-elevation-z3">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} {{ element.surname }} </td>
    </ng-container>
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element"> {{ 'TODO' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
    <tr (click)="onUserSelected(row)" [class.row-selected]="isUserSelected(row)" mat-row
        *matRowDef="let row; columns: userDisplayedColumns;">
    </tr>
</table>

<br />

<mat-paginator
    [pageSizeOptions]="[5]" 
    [length]="usersTotal"
    [pageIndex]="page" 
    showFirstLastButtons
>
</mat-paginator>