/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body-gradient1 {
  background: rgb(14,67,115);
  background: linear-gradient(311deg, rgba(14,67,115,1) 0%, rgba(0,254,255,1) 100%);
}
