<div class="row">
    <div class="column left">
        <app-driver-history-ride-table
            class="flex-1"
            (selectedRideEvent)="onChangeSelectedRide($event)">
        </app-driver-history-ride-table>
    </div>
    <div class="column right">
        <div class="height-70">
            <div id="map" class="mat-elevation-z3" #leafletMap></div>
        </div>
        <div class="height-30 flex">
            <div class="pad mat-elevation-z3 flex-hor margin">
                <app-driver-history-ride-details
                    [ride]="selectedRide">
                </app-driver-history-ride-details>
            </div>
        </div>
    </div>

    <div class="column right-narrow scrollable passengers-card">
        <app-driver-history-ride-passengers
            [ride]="selectedRide">
        </app-driver-history-ride-passengers>
    </div>
</div>