<div class="row">
    <div class="column left">
        <div id="map"></div>
    </div>
    <div class="column right">
        <mat-card><form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline">
                <mat-label>Departure</mat-label>
                <input matInput name="departure" type="text" formControlName="departure" />
            </mat-form-field>
            <span class="space"></span>
            <mat-form-field appearance="outline">
                <mat-label>Destination</mat-label>
                <input matInput name="destination" type="text" formControlName="destination" />
            </mat-form-field>

            <br/>

            <button mat-raised-button type="submit" color="primary">Go</button>

            <div *ngIf="foundRoute()">
                <hr/>

                <div>
                    <span class="label">Distance: </span>
                    <span class="value">{{ metersFormat(distance) }}</span>
                </div>
                <br/>
                <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="vehicleType">
                        <mat-option *ngFor="let type of vehicleTypes" name="vehicleType" [value]="type.name">{{type.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br />
                <div>
                    <mat-checkbox formControlName="vehicleBabies" class="value">Babies</mat-checkbox>
                    <mat-checkbox formControlName="vehiclePets" class="value">Pets</mat-checkbox>
                </div>
                <br />

                <hr/>

                <div class="ride-passenger">
                    <img src="">
                    <mat-label class="value">{{myEmail}}</mat-label>
                    <mat-label class="label"> (You)</mat-label>
                </div>
                <br/>

                <div *ngFor="let other of otherPassengers" class="ride-passenger">
                    <img src="">
                    <mat-label class="value">{{other.email}}</mat-label>
                    <span class="space"></span>
                    <button mat-mini-fab (click)="onRemovePassenger(other.email)"><mat-icon>remove</mat-icon></button>
                    <br/>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Add another passenger</mat-label>
                        <input matInput name="passenger_email" type="text" formControlName="passenger_email" />
                    </mat-form-field>

                    <button mat-mini-fab color="accent" (click)="onAddNewPassenger()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <hr/>

                <div>
                    <span class="label">Price: </span>
                    <span class="value">{{ priceFormat(calcPrice()) }}</span>
                </div>

                <hr/>

                <div>
                    <mat-checkbox formControlName="scheduleLater" class="value">Schedule later</mat-checkbox>
                    <div *ngIf="scheduledLater()">
                        <mat-form-field appearance="fill" class="shortInput">
                            <mat-label>Hour</mat-label>
                            <mat-select (click)="recalculateAllowedHours()" formControlName="futureHour">
                                <mat-option *ngFor="let hour of allowedHours" value="{{hour}}">{{hour}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <span class="space"></span>

                        <mat-form-field appearance="fill" class="shortInput">
                            <mat-label>Minute</mat-label>
                            <mat-select (click)="recalculateAllowedMinutes()" formControlName="futureMinute">
                                <mat-option *ngFor="let hour of allowedMinutes" value="{{hour}}">{{hour}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br/>
                        <span class="errorMsg">{{timeValidationErrorMsg}}</span>
                    </div>
                </div>


            </div>

        </form></mat-card>
    </div>
</div>
