<div class="register-dialog">
    <div id="legend">
        <h2>Sign up</h2>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" accept-charset="UTF-8">

        <mat-form-field appearance="fill">
            <mat-label>Email: </mat-label>
            <input matInput type="email" formControlName="email" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Password: </mat-label>
            <input matInput type="password" formControlName="password" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Confirm password: </mat-label>
            <input matInput type="password" formControlName="confirmPassword" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Name: </mat-label>
            <input matInput type="text" formControlName="name" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Surname: </mat-label>
            <input matInput type="text" formControlName="surname" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Location: </mat-label>
            <input matInput type="text" formControlName="address" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Phone: </mat-label>
            <input matInput type="text" formControlName="telephoneNumber" pattern="^[\+]?[0-9]+$" required/>
        </mat-form-field>

        <mat-form-field>
            <div>
              <mat-toolbar>
                <input matInput [value]="selectedFileName ? selectedFileName : 'Select Image'" />
              </mat-toolbar>
          
              <input
                type="file"
                id="profilePicture"
                name="profilePicture"
                accept="image/*" multiple 
                formControlName="profilePicture"
                (change)="selectFile($event)"
              />
            </div>
          </mat-form-field>

        <button mat-raised-button type="submit">Sign up</button>
    
    </form>
    
</div>