<div class="register-dialog">
    <div id="legend">
        <h2>Sign up</h2>
    </div>

    <form [formGroup]="registerForm">

        <mat-form-field appearance="fill">
            <mat-label>Email: </mat-label>
            <input matInput type="email" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Password: </mat-label>
            <input matInput type="password" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Confirm password: </mat-label>
            <input matInput type="password" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Name: </mat-label>
            <input matInput type="text" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Surname: </mat-label>
            <input matInput type="text" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Location: </mat-label>
            <input matInput type="text" required/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Phone: </mat-label>
            <input matInput type="text" pattern="^[\+]?[0-9]+$" required/>
        </mat-form-field>

        <button mat-raised-button type="submit" (ngSubmit)="onSubmit()">Sign up</button>
    
    </form>
    
</div>