<!-- Passengers -->
<span class="label">Passengers:</span>
<br/>

<span *ngFor="let passenger of ride.passengers">
    <span class="value" matListItemTitle>{{ passenger.email }}</span>
</span>
<hr/>

<!-- Location list -->
<span class="label">Locations</span>
<ul>
    <li class="value" *ngFor="let address of getAddressList()">{{ address }}</li>
</ul>
<hr/>

<!-- Baby and pet -->
<mat-icon>child_care</mat-icon><mat-checkbox class="example-margin" [(ngModel)]="ride.babyTransport" disabled="true"></mat-checkbox>
<br/>
<mat-icon>pets</mat-icon><mat-checkbox class="example-margin" [(ngModel)]="ride.petTransport" disabled="true"></mat-checkbox>

<!-- While pending OR accepted  -->
<ng-container *ngIf="isPending() || isAccepted()">
    <div *ngIf="isScheduledForFuture()">
        <hr/>
        <div>
            <span class="label">Scheduled for: </span>
            <span class="value">{{ getRideScheduledTime() }}</span>    
        </div>
    </div>
    <hr/>

    <!-- Only while pending -->
    <ng-container *ngIf="isPending()">
        <button mat-raised-button color="primary" (click)="onAcceptClick()"><mat-icon>play_circle_filled</mat-icon> Accept ride</button>
        <br/><br/>
        <button type="submit" mat-raised-button color="warn" (click)="onRejectClick()"><mat-icon>stop</mat-icon> Reject ride</button>
    </ng-container>

    <!-- Only while accepted -->
    <ng-container *ngIf="isAccepted()">
        <button mat-raised-button color="primary" (click)="onStartClick()"><mat-icon>play_circle_filled</mat-icon> Start ride</button>
    </ng-container>   

</ng-container>



<!-- While active -->
<ng-container *ngIf="isStarted()">
    <hr/>
    
    <span id="elapsed-time">
        <span class="label">Elapsed time: </span>
        <span class="value">{{ elapsedTime }}</span>
    </span>
    <hr/>

    <button mat-raised-button color="accent" (click)="onFinishClick()"><mat-icon>stop</mat-icon> Finish</button>
    <br/><br/>
    <button mat-raised-button color="warn" (click)="onPanicClick()"><mat-icon>warning</mat-icon> Panic</button>
</ng-container>