<div *ngIf="!emailPassed" id="password-reset-confirmation-form">
    <mat-card>
        <form [formGroup]="formGroup" (ngSubmit)="sendPasswordResetLink()">
            <h2>Forgot Password?</h2>
            <hr/>

            <p>
                We'll send a link to your email where you can enter a new password.
            </p>

            <br/>

            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput name="email" type="email" formControlName="email" />
            </mat-form-field>

            <button id="submitEmail" mat-raised-button type="submit" color="primary" [disabled]="!formGroup.valid">Submit</button>
        </form>
        <p class="rightAlign">
            <a routerLink="/login">Back to Login</a>
        </p>
    </mat-card>
</div>
<div *ngIf="emailPassed" class="forgot-form">   
    <mat-card>
        <form [formGroup]="codeFormGroup" (ngSubmit)="sendPasswordReset()">
            <h2>Verify</h2>
            <hr/>

            <mat-form-field appearance="outline">
                <mat-label>Enter code sent via email</mat-label>
                <input matInput name="code" type="text" formControlName="code" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Enter new password</mat-label>
                <input matInput name="newPassword" type="text" formControlName="newPassword" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm new password</mat-label>
                <input matInput name="newPasswordConfirm" type="text" formControlName="newPasswordConfirm" />
            </mat-form-field>
            <mat-error *ngIf="codeFormGroup.errors?.['mismatch']">
                Passwords must match
            </mat-error>

            <button id="submitCode" mat-raised-button type="submit" color="primary" [disabled]="!formGroup.valid">Submit</button>          
        </form>
        <p class="rightAlign">
            <a routerLink="/login">Back to Login</a>
        </p>
    </mat-card>
</div>
