#password-reset-confirmation-form {
    display: flex;
}

#password-reset-confirmation-form>mat-card {
    padding: 48px 16px;
    display: inline-block;
    margin: auto;
    border-radius: 16px;
    width: 30%;
}

hr {
    margin-bottom: 4em;
}

mat-form-field {
    width: 100%;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 7%;
}

button {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    width: 100%;
    padding: 1.5em;
    font-size: larger;
}

.rightAlign {
    float: right;
}

.forgot-form {
    display: flex;
}

.forgot-form>mat-card {
    padding: 48px 16px;
    display: inline-block;
    margin: auto;
    border-radius: 16px;
    width: 30%;
}
/* 
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; //red 
  } */
