.graphs{
    display: flex;
    justify-content: space-around;
}

table{
    padding: 30px;
    border-style: none;
}
.noRides{
    text-align: center;
    vertical-align: auto;
    margin: auto ;
    margin-top: 40px;
}

.graphDateRangePicker{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    box-sizing: border-box; 
}