mat-toolbar {
  color: white;
  width: 100%;
  text-align: left;
}


a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}


.button {
  outline-color: white;
  border-radius: 60px;
  width: 120px;
  height: auto;
  margin-left: 45px;
  text-align: center;
  outline-style: solid;
  outline-width: 3px;
  float: right;
}

.passenger {
  background-color: #4393CD;
}

#sign-out {
  background-color: #4393CD;
  color: white;
}

mat-icon {
  color: white;
}
.divider {
  margin-left: 80%;
}
