<div id="form-container">
    <h1>Estimate ride cost and time</h1>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Departure: </mat-label>
            <input type="text" name="departure" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Destination</mat-label>
            <input type="text" name="destination" matInput>
        </mat-form-field>
        <button mat-raised-button color="primary">Go</button>
    </form>
</div>
