<div id="root-card">
    <div class="row">
        <!-- Left side - map -->
        <div class="column left">
            <div id="map" #leafletMap></div>
        </div>

        <!-- Right side - info -->
        <div class="column right" *ngIf="hasCurrentRide()">
        <app-driver-home-current-ride
            [ride]="ride!"
            (acceptEvent)="onRideAccept()"
            (startEvent)="onRideStart()"
            (finishEvent)="onRideFinish()"
            (rejectEvent)="onRideReject($event)"
            (panicEvent)="onRidePanic($event)"
        >
        </app-driver-home-current-ride>
        </div>   
    </div>
</div>
