<div class="flex-container">
    <div class="left">
        <ng-container *ngIf="!favoriteRides">
            <div class="grey-centered-text">
                User has no favorite rides!
            </div>
        </ng-container>
        <ng-container *ngIf="favoriteRides">
            <table mat-table [dataSource]='favoriteRideDataSource' class="mat-elevation-z3">

            <ng-container matColumnDef="favorite">
                <th mat-header-cell *matHeaderCellDef> Favorite </th>
                <td mat-cell *matCellDef="let element; let i = index"> 
                    <button mat-icon-button class="heart-active" (click)="removeFromFavorites(element, i)">
                        <img
                            class="icon"
                            src="assets/heart_active.png"
                        />
                    </button>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.favoriteName}} </td>
            </ng-container>

            <ng-container matColumnDef="route">
                <th mat-header-cell *matHeaderCellDef> Route </th>
                <td mat-cell *matCellDef="let element"> {{ getFavoriteRideRouteString(element) }} </td>
            </ng-container>

            <ng-container matColumnDef="passengers">
                <th mat-header-cell *matHeaderCellDef> Passengers </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-raised-button color="primary" aria-label="Passengers" (click)="showPassengers(element)">
                        Passengers
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="vehicle type">
                <th mat-header-cell *matHeaderCellDef> Vehicle type </th>
                <td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
            </ng-container>

            <ng-container matColumnDef="baby">
                <th mat-header-cell *matHeaderCellDef> Baby </th>
                <td mat-cell *matCellDef="let element;"> 
                    <mat-checkbox [(ngModel)]="element.babyTransport" color="primary" disabled>
                    </mat-checkbox>
                </td>
                
            </ng-container>

            <ng-container matColumnDef="pet">
                <th mat-header-cell *matHeaderCellDef> Pet </th>
                <td mat-cell *matCellDef="let element;"> 
                    <mat-checkbox [(ngModel)]="element.petTransport" color="primary" disabled>
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="order again">
                <th mat-header-cell *matHeaderCellDef> Order again </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-raised-button color="primary" aria-label="Order again" (click)="showScheduleDialog(element)">
                        Reorder
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="favoriteRideDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let rowData; columns: favoriteRideDisplayedColumns" [class.row-selected]="isRouteSelected(rowData)" (click)="displayRoute(rowData)"></tr>
            </table>
            <br />
        </ng-container>
    </div>
    <div class="map-container right">
        <div class="map-frame">
            <div id="favorite-map"></div>
        </div>
    </div>
</div>