.flex{
    display: flex;
}
.cards {
    height: 100vh;
    width: 40vw;
    display: block;
    justify-content: flex-start;
}
mat-card {
    width: 100%;
    border-radius: 30px !important;
    margin: 1vh;
    text-align: center;
    align-content: normal;
    height: fit-content;
}
h2 {
    padding-top: 0.5vw;
}
app-admin-panic-details {
    width: 60vw;
    justify-self: flex-end;
}
button {
    width: 50%;
    background: #9780A6;
}
