<button mat-flat-button class="button" id="getRides" (click)="getCards()">Get Rides</button>
<div class="container">
    <div class="row">
        <div class="col-md-3 mx-auto my-5" *ngFor="let ride of rides; index as i">
            <mat-card (click)="drawRoute($event)" id="{{ride.id}}">
                <mat-card-header>
                    <h4>{{ride.endTime}}</h4>
                </mat-card-header>

                <mat-card-content>
                    {{ride.route.locations[0].address}}
                    {{ride.route.locations[1].address}}
                    <h4>{{ride.totalCost}}</h4>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

