mat-card {
    width: 30%;
    cursor: pointer;
}
/*.left {*/
/*    display: block;*/
/*    width: 50%;*/
/*}*/
.container{
    display: flex;
}
#map_route {
    height: 500px;
}
.map-container{
    width: 40%;
    display: block;
    align-self: flex-end;
}
.cards{
    align-self: flex-start;
    width: 45%;
}
