mat-toolbar {
  color: white;
  width: 100%;
  text-align: left;
}


a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end
}

.button {
  outline-color: white;
  border-radius: 60px;
  width: 120px;
  height: auto;
  margin-left: 45px;
  text-align: center;
  outline-style: solid;
  outline-width: 3px;
  float: right;
}

.admin {
  background-color: #9780A6;
}

#sign-out {
  background-color: #9780A6;
  color: white;
}

.mat-fab {
  background: #9780A6;
}

mat-icon {
  color: white;
}
