<div id="password-reset-confirmation-form">
    <mat-card>

        <form [formGroup]="formGroup" (ngSubmit)="sendPasswordResetLink()">
            <h2>Reset Password</h2>
            <hr/>

            <p>
                Forgot password?
                <br/>
                Enter your e-mail and we'll send you a link where you can enter a new password.
            </p>

            <br/>

            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput name="email" type="email" formControlName="email" />
            </mat-form-field>

            <button id="submitButton" mat-raised-button type="submit" color="primary" [disabled]="!formGroup.valid">Submit</button>
        </form>
        <p class="rightAlign">
            <a routerLink="/login">Back to Login</a>
        </p>
    </mat-card>
</div>
