#password-reset-confirmation-form {
    display: flex;
}

#password-reset-confirmation-form>mat-card {
    padding: 48px 16px;
    display: inline-block;
    margin: auto;
    border-radius: 16px;
    width: 30%;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 7%;
}

button {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    width: 100%;
}

.rightAlign {
    float: right;
}
