<div id="password-reset-confirmation-form">
    <mat-card>
        <h2>Reset Password</h2>
        <hr/>
        <p>
            Forgot password?
            <br/>
            We'll send you a link to <b>{{ myEmail }}</b>, where you can enter a new password.
        </p>
        <p>
            <button mat-raised-button color="primary" (click)="sendPasswordResetLink()">Send</button>
        </p>
        <p class="rightAlign">
            <a routerLink="/login">Back to Login</a>
        </p>
    </mat-card>
</div>
