<ng-container *ngIf="!hasRides()">
    <div class="grey-centered-text">
        User has no rides!
    </div>
</ng-container>
<ng-container *ngIf="hasRides()">
    <table mat-table [dataSource]='rideDataSource' class="mat-elevation-z3" matSort (matSortChange)="onSortChange($event)" matSortActive="startTime" matSortDirection="desc">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>
    <ng-container matColumnDef="route">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Route</th>
        <td mat-cell *matCellDef="let element"> {{ getRideRouteString(element) }} </td>
    </ng-container>
    <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
        <td mat-cell *matCellDef="let element"> {{ element.startTime | date:'medium' }} </td>
    </ng-container>
    <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
        <td mat-cell *matCellDef="let element"> {{ element.endTime | date:'medium' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="rideDisplayedColumns"></tr>
    <tr (click)="onRideSelected(row)" [class.row-selected]="isRideSelected(row)" mat-row
        *matRowDef="let row; columns: rideDisplayedColumns;">
    </tr>
</table>
<br />
<mat-paginator (page)="onPageChange($event)" [pageSizeOptions]="[10]" [length]="ridesTotal"
    [pageIndex]="page" showFirstLastButtons>
</mat-paginator>
</ng-container>