<div id="mat-dialog-box">
    <h1 mat-dialog-title>Specify a reason</h1>

    <form [formGroup]="panicFormGroup">
        <mat-form-field>
            <mat-label>Reason</mat-label>
            <input id="modal-panic-reason" matInput formControlName="reason" />
        </mat-form-field>
        <br/>
        <button id="modal-panic-ok" mat-button mat-raised-button color="primary" (click)="onOk()" [disabled]="!panicFormGroup.valid">OK</button>
        <button id="modal-panic-cancel" mat-button mat-raised-button color="secondary" (click)="onCancel()">CANCEL</button>
    </form>
</div>
